{{ define "main" }}
<div id="categories-page" class="container">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ .Content }}
        <div class="row justify-content-center">
            {{ range .Data.Terms.ByCount }}
            <div class="col-md-3">
                <div class="category-card">
                    <!-- <div class="category-card">
                        <a href="{{ .Page.Permalink }}">
                            <figure class="image is-3by2">
                                {{ $firstChild := index .Pages 0 }}
                                {{ with $firstChild.Params.image }}
                                <img src="{{ index . 0 }}" alt="">
                                {{ end }}
                            </figure>
                        </a>
                    </div> -->
                    <div class="category-card-details">
                        <a class="category-card-title" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        {{ $pageCount := len .Pages }}
                        <p class="category-card-post-count">{{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }} </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

{{ end }}