{{ define "main" }}
<div class="say-hi">
    <div class="user-info">
        <div class="row align-items-center">
            <div class="col-lg-8">
                {{ .Content }}
            </div>
            <div class="col-lg-4">
                <img src="/images/pier8-logo.png" class="img-fluid" alt="pier 8 logo">
            </div>
        </div>
    </div>
    <div class="say-hi-content">
        <h2>Contact Me</h2>
    </div>
    <form id="contact" name="contact" method="POST" enctype="application/x-www-form-urlencoded" data-netlify="true" netlify-honeypot="bot-field">
        <div hidden aria-hidden="true">
            <label>
              Don’t fill this out if you're human: 
              <input name="bot-field" />
            </label>
          </div>
        <div class="custom-form-control">
            <label for="user-name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="user-name" name="Name" placeholder="John Doe">
        </div>
        <div class="custom-form-control">
            <label for="user-email" class="form-label">Your Email Address</label>
            <input type="email" class="form-control" id="user-email" name="Email" placeholder="johndoe@gmail.com">
        </div>
        <div class="custom-form-control">
            <label for="user-message" class="form-label">Message</label>
            <textarea rows="6" type="text" class="form-control" id="user-message" name="Message" placeholder="Enter your message"></textarea>
        </div>
        <button class="btn btn-block btn-black-custom">Submit</button>
    </form>
</div>
{{ end }}