<div class="container">
    <div class="subscribe-section">
        <form id="email-form" class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
          <div hidden aria-hidden="true">
            <label>
              Don’t fill this out if you're human: 
              <input name="bot-field" />
            </label>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-7">
              <h3 class="subs-section-title">Subscribe to our newsletter</h3>
              <p class="subs-section-details">If you like this content and want to hear more, consider subscribing to get notifications in your inbox.</p>
            </div>
            <div class="col-lg-5">     
              <div class="input-group subscribe-section-input">
                <input name="email" type="email" class="form-control" placeholder="johndoe@gmail.com" aria-label="Recipient's email" aria-describedby="button-addon2">
                <button class="btn btn-subs-custom" type="submit">SUBMIT</button>
              </div>
            </div>
          </div>
        </form>
      </div>
</div>

<footer>    
    <div class="container">
        <div class="footer-contents">
            <h1 class="footer-title">{{ .Site.Title }}</h1>
            <div class="header-menu">
                <ul class="menu-bar">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}  
                    <li class="menu-item ">
                        <a class="menu-item-inner {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="copyright-social">
            <div class="row">
                <div class="col">
                    <span class="copyright-text">Copyright {{ now.Year }}, All rights reserved</span>
                </div>
                <div class="col-auto">
                    <div class="social-links-holder">
                        <a class="social-link" href="https://github.com/pier8software" target="_blank">
                            <i class="icon-github"></i>
                        </a>
                        <a class="social-link" href="https://twitter.com/pier8software" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a class="social-link" href="/" target="_blank">
                            <i class="icon-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ define "scripts" }}
  <script>
    var myToast = Toastify({
      text: "Thank you for Subscribing!",
      gravity: "top",
      position: 'center',
      duration: 3500,    
      className: "alert alert-success"
    });

    const processForm = form => {
      const data = new FormData(form)
      data.append('form-name', 'newsletter');
      fetch('/', {
        method: 'POST',
        body: data,
      })
      .then(() => {
        form.reset();
        myToast.showToast();        
      })
      .catch(error => {
        console.log(error);
      })
    }

    const emailForm = document.querySelector('.email-form')
    if (emailForm) {
      emailForm.addEventListener('submit', e => {
        e.preventDefault();
        processForm(emailForm);
      })
    }
  </script>
{{ end }}