<footer>
    <div class="container">
        <div class="footer-contents">
            <h1 class="footer-title">{{ .Site.Title }}</h1>
            <div class="header-menu">
                <ul class="menu-bar">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}  
                    <li class="menu-item ">
                        <a class="menu-item-inner {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="copyright-social">
            <div class="row">
                <div class="col">
                    <span class="copyright-text">Copyright {{ now.Year }}, All rights reserved</span>
                </div>
                <div class="col-auto">
                    <div class="social-links-holder">
                        <a class="social-link" href="https://github.com/pier8software" target="_blank">
                            <i class="icon-github"></i>
                        </a>
                        <a class="social-link" href="https://twitter.com/pier8software" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a class="social-link" href="/" target="_blank">
                            <i class="icon-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>