<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Title }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>
    {{- partial "seo.html" . -}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-touch-icon.png" }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png" }}"/>
    <link rel="icon" href="{{ "/images/favicon.ico" }}"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/images/android-icon-192x192.png" }}"/>
    <link rel="manifest" href="{{ "/images/site.webmanifest" }}"/>
    {{ $style := resources.Get "scss/template.scss" | toCSS}}
    {{ $bscss := resources.Get "css/bootstrap.min.css" }}
    {{ $social := resources.Get "css/icomoon-fonts.css" }}
    {{ $toastify := resources.Get "css/toastify.css" }}
    {{ $allcss := slice $bscss $social $toastify $style | resources.Concat "/css/site.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $allcss.Permalink }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </head>